body {
  background: #444;
  color: #ddd;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.graph {
  background: #333;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}

polyline {
  fill: none;
  stroke-width: 1px;
  stroke-linejoin: bevel;
}

.batLvl {
  stroke: red;
  stroke-width: 4px;
}

.slrLvl {
  stroke: yellow;
}

.hour-line {
  stroke: white;
  stroke-width: 1px;
  opacity: 0.1;
}

.hour-value {
  fill: white;
  opacity: 0.5;
  font-size: 12px;
}

.leds-on {
  fill: #545;
}
