body {
  background: #444;
  color: #ddd;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.graph {
  background: #333;
  box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}

polyline {
  fill: none;
  stroke-width: 1px;
  stroke-linejoin: bevel;
}

.batLvl {
  stroke: red;
  stroke-width: 4px;
}

.slrLvl {
  stroke: yellow;
}

.hour-line {
  stroke: white;
  stroke-width: 1px;
  opacity: 0.1;
}

.hour-value {
  fill: white;
  opacity: 0.5;
  font-size: 12px;
}

.leds-on {
  fill: #545;
}

.button {
  background: #666;
  color: #aaa;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.1s;
  user-select: none;

  &:hover {
    background: #888;
  }

  &.selected {
    background: #aaa;
    color: #666;
  }

  &.bat,
  &.slr {
    font-weight: bold;
    width: 110px;
    text-align: center;
    color: black;
  }

  &.bat {
    background: red;
  }

  &.slr {
    background: yellow;
  }
}

.loading {
  .button {
    opacity: 0.25;
  }
}

.login {
  margin: 100px 10px;
}
